<ion-header>
  <ion-navbar>
    <ion-title>Créer un match</ion-title>
  </ion-navbar>
</ion-header>

<ion-content scroll="false" *ngIf="team">
  <form [formGroup]="game_form" novalidate (ngSubmit)="create(game_form.value, game_form.valid)">

    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Equipe adverse</ion-label>
            <ion-input type="text" placeholder="Golden State Warrior" formControlName="opponent"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" formControlName="date"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Time</ion-label>
            <ion-input type="text" placeholder="18:20" formControlName="time"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <div formGroupName="period">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Période</ion-label>
              <ion-select formControlName="type">
                <ion-option value="2">Mi-temps</ion-option>
                <ion-option value="4">Quart-temps</ion-option>
                <ion-option value="6">6 temps</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Minutes par temps</ion-label>
              <ion-input type="number" placeholder="Temps" formControlName="time"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>

      <ion-row>
        <ion-col>
          <ion-label>Joueurs séléctionnés</ion-label>
        </ion-col>
        <ion-col>
          <ul class="list-players">
            <li *ngFor="let player of team.players" (tap)="player.play = !player.play" [ngClass]="{'checked': player.play}">
              <img src="assets/images/jersey/_{{player.number}}-tee-shirt.svg">
              <!-- <i class="fa fa-check-circle" aria-hidden="true"></i> -->
            </li>
          </ul>
          <!-- <ion-list>
            <ion-item *ngFor="let player of team.players">
              <ion-thumbnail item-start>
                <img src="assets/images/jersey/_{{player.number}}-tee-shirt.svg">
              </ion-thumbnail>
              <h2>{{player.firstname}}</h2>
            </ion-item>
          </ion-list> -->
        </ion-col>
      </ion-row>

      <ion-row class="stick-bottom">
        <ion-col>
          <button type="submit" [disabled]="!game_form.valid" ion-button full color="primary">Créer</button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
