page-dashboard {
  ion-content.content {
    div.scroll-content {
      color: color($colors, white);
      overflow-y: hidden;
      ion-row.header {
        ion-col {
          &:first-of-type {
            padding-left: 0;
          }
          &:last-of-type {
            text-align: right;
            padding-right: 0;
            div.shorcuts {
              height: 100%;
              button {
                font-size: xx-large;
                height: 100%;
                margin: 0;
                width: 70px;
                border: 1px solid color($colors, primary);
                ;
                margin-left: 25px;
                margin-right: 25px;
                &:first-of-type {
                  margin-left: 0;
                }
                &:last-of-type {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
      div.dashboard {
        border: 1px solid color($colors, primary);
        position: absolute;
        top: 100px;
        right: 15px;
        left: 15px;
        bottom: 15px;
        div.content {
          height: 100%;
          color: color($colors, dark);
          ion-grid.grid {
            height: 100%;
            padding: 0;
            >ion-row {
              height: 100%;
              ion-col.list {
                padding: 0;
                margin-top: -1px;
                margin-left: -1px;
                div.list {
                  overflow: auto;
                  height: 100%;
                  ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    height: 100%;
                    border-right: 1px solid color($colors, primary);
                    li {
                      font-size: 24px;
                      text-transform: uppercase;
                      height: 45px;
                      padding: 7.5px;
                      color: color($colors, dark);
                      border-bottom: 1px solid color($colors, primary);
                      display: flex;
                      &.header {
                        background-color: color($colors, primary);
                        color: color($colors, white);
                      }
                      span {
                        width: 100%;
                        text-align: left;
                        &.number {
                          width: 40px;
                          text-align: center;
                        }
                        &.title {
                          padding-left: 7.5px
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          ion-col.games {
            height: 100%;
            div.actual-game {
              margin-bottom: 15px;
              text-align: center;
              position: relative;
              height: 100%;
              div.time {
                font-size: 4.5em;
                width: 100%;
              }
              div.quarter {
                font-size: 2.5em;
                width: 100%;
              }
              div.teams, div.score {
                display: flex;
                justify-content: space-between;
                span {
                  font-size: 2em;
                  width: 50%;
                }
              }
              div.score {
                span {
                  font-size: 4.5em
                }
              }
              div.buttons {
                position: absolute;
                bottom: 2px;
                right: 5px;
              }
            }
          }
          ion-col.players {
            height: 100%;
            form {
              ion-label.label,
              ion-input.input,
              ion-datetime.datetime {
                font-size: 22px;
              }
              border-bottom: 1px solid color($colors, primary);
              ion-col.actions {
                text-align: right;
                button {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
      div.no-teams {
        border: 1px solid color($colors, primary);
        position: absolute;
        top: 15px;
        right: 15px;
        left: 15px;
        bottom: 15px;
        color: color($colors, primary);
        div.text-info {
          width: 100%;
          text-align: center;
          position: absolute;
          top: calc(50% - 50px);
        }
      }
      div.no-players {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        color: color($colors, primary);
        div.text-info {
          width: 100%;
          text-align: center;
          position: absolute;
          top: calc(50% - 30px);
        }
      }
    }
  }
  ion-list.list {
    margin: 0 auto;
    height: 100%;
    border: 0.55px solid color($colors, primary);
    ion-item.item {
      height: 100%;
      font-size: 24px;
      border: 0;
      ion-select.select {
        width: 100%;
        max-width: 100%;
        font-size: 24px;
        padding: 13px 8px 13px 5px;
        .select-icon {
          height: inherit;
          margin-right: 15px;
        }
      }
    }
  }
}
