<ion-row class="header" [hidden]="hide_header">
  <ion-col>
    <ion-select [(ngModel)]="selected_team" (ionChange)="ionChangeTeam()">
      <ion-option *ngFor="let team of teams$ | async" [value]="team">{{team.name}}</ion-option>
    </ion-select>
    <button ion-button (tap)="goto_create_team()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-col>
  <ion-col *ngIf="team">
    <div class="shorcuts">
      <button ion-button clear (tap)="switch_panel('games')" [disabled]="team.players.length < 5">
        <ion-icon name="basketball"></ion-icon>
      </button>
      <button ion-button clear (tap)="switch_panel('players')">
        <ion-icon name="people"></ion-icon>
      </button>
      <button ion-button clear (tap)="switch_panel('stats')" [disabled]="team.players.length < 5">
        <ion-icon name="stats"></ion-icon>
      </button>
      <button ion-button clear (tap)="switch_panel('details')">
        <ion-icon name="cog"></ion-icon>
      </button>
    </div>
  </ion-col>
</ion-row>
